<head>
  <style type="text/css">
    th {
        display: none;
    }
    h1 {
        background: #B8B8B8;
    }
    h2 {
        background: #F0F0F0;
    }
    h3 {
        background: #F0F0F0;
    }
  </style>
</head>
